<% content_for :header_title, "Painel de Edição" %>
<% content_for :header_desc, "Alterando o protocolo: #{@report.protocolo}" %>

<article class="card">
  <header class="card__header">
    <h2 class="card__title">Editar Informações</h2>
  </header>
  
  <div class="card__body">
    <%= render "form", report: @report %>
  </div>

  <footer class="card__footer card__footer--actions">
    <%= link_to "Visualizar (Ver)", @report, class: "link-action" %>
    <%= link_to "Voltar para Lista", reports_path, class: "link-action" %>
  </footer>
</article>